#JavaScript {
    color: #FFDF00;
}

#TypeScript {
    color: #3178C6;
}

#Python {
    color: #F7CD00;
}

#HTML {
    color: #FC490B;
}

#CSS {
    color: #2196F3;
}

#Docker {
    color: #2496ED;
}

#React {
    color: #1E81CE
}

#Redux {
    color: #7c5ccc;
}

#Testing {
    color: #fc4444;
}

#Git {
    color: #F15233;
}

#GitHub {
    color: rgb(210, 206, 206);
}

#NPM {
    color: #c43434;
}

#Netlify {
    color: #1cc4bc;
}

#ExpressJs {
    color: #84cc2c;
}

#MySQL {
    color: #00758F;
}

#MongoDB {
    color: #44a438;
}

#Figma {
    color: #04cc7c;
}

#Linux {
    color: #e4942c;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
  