.contactPage {
    background-color: black;

    padding-top: 30px;
    padding-bottom: 30px;
}

.contactName {
    display: flex;

    justify-content: center;
}

.github {
    margin-top: 20px;
    margin-left: 20px;

    filter: contrast(0);
    transition-duration: .5s;
}

.githubSun {
    margin-top: 20px;
    margin-left: 20px;

    filter: contrast(0);
    transition-duration: .5s;
}

.githubMoon {
    margin-top: 20px;
    margin-left: 20px;

    filter: contrast(0);
    transition-duration: .5s;
}

.githubMoon:hover {
    filter: contrast(30%);

    transform: translate(-5px, -5px); 
}

.githubSun:hover {
    filter: contrast(100%);

    transform: translate(-5px, -5px); 
}

.github:hover {
    filter: contrast(100%);

    transform: translate(-5px, -5px); 
}

.textContactMe {
    color: white;

    width: 500px;


    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    display: flex;

    align-items: center;

    justify-content: space-around;
}

.references {
    color: white;

    margin-bottom: 5px;

    text-align: center;
}

.flaticon {
    text-decoration: none;

    color: white;
}

.Sun {
    background-color: white;
    color: black;
  }
  
  .Moon {
    background-color: black;
    color: white;
  }

@media screen and (max-width: 1550px){
    .textContactMe {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px){
    .contactPage {
        display: block;
    
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .textContactMe {
        font-size: small;

        text-align: center;

        width: 300px;

        margin-left: 50px;
        margin-bottom: -150px;
    }

    .contactName {
        width: 250px;
        height: 60px;

        margin-left: 70px;
        margin-right: 70px;
    }

    .footer {
        display: inline;
    
        align-items: center;
    
        justify-content: space-around;

    }
}