.skillsPage {
    display: flex;

    justify-content: center;
    flex-direction: column;

    background-color: black;
}

.artSection {
    margin-top: 20px;

    display: flex;

    flex-wrap: wrap;
    justify-content: center;
}

.artDiv, .artDivMoon, .artDivSun {
    border-radius: 5px;

    width: 1400px;
    height: 350px;

    background-color: white;

    margin-bottom: 140px;
}

.artDivSun {
    background-color: black;
}

.art {
    border-radius: 5px;

    width: 1400px;
    height: 350px;

    transform: translate(-14px, 14px);
}


.skillName {
    position: relative;

    bottom: 130px;
    right: 430px;
}

.skills {
    display: flex;
    /* color: white; */

    flex-wrap: wrap;

    margin-top: -200px;
    margin-left: 16%;
    margin-right: 16%;

    justify-content: space-between;
}

.iconFigure {
    margin-top: 150px;
    margin-left: 65px;
    margin-right: 65px;

    filter: saturate(0);
    color: black;

    transition-duration: .5s;
}

.icon {
    width: 80px;
    margin-bottom: 10px;
}

.iconName {
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.iconFigure:hover {
    filter: saturate(100%);

    transform: translate(-10px, -10px);    
}

.softSkills {
    display: flex;

    justify-content: space-evenly;

    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}


.softCard, .softCardMoon, .softCardSun {
    background-color: white;

    width: 350px;
    border-radius: 50px;
    text-align: center;

    transition-duration: .5s;
}

.softCardSun {
    background-color: rgb(15, 15, 16);
}

.softBack {
    transition-duration: .5s;
}

.softSkill {
    background-color: black;
    transform: translate(60px, 10px);
}

.softText {
    text-align: left;

    background-color: black;
    transform: translate(10px, -10px);
    
    padding: 30px;
    border-radius: 50px;
}

.softCard:hover {
    box-shadow: 0 4px 18px 0 white;
}

.softCardMoon:hover {
    box-shadow: 0 4px 18px 0 white;
}

.softCardSun:hover {
    box-shadow: 0 4px 18px 0 rgb(15, 15, 16);
}

.softBack:hover {
    transform: translate(10px, -10px);
}

@media screen and (max-width: 1550px) {
    .artDiv, .artDivSun, .artDivMoon {
        width: 1020px;
        height: 250px;
    }

    .art {
        width: 1020px;
        height: 250px;
    }
}

@media screen and (max-width: 500px) {
    .artDiv, .artDivSun, .artDivMoon {
        width: 320px;
        height: 100px;

        margin-bottom: 200px;
    }

    .art {
        width: 320px;
        height: 100px;
    }

    .iconFigure {
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .icon {
        width: 60px;
        margin-bottom: 10px;
    }
    
    .iconName {
        font-size: small;
    }

   
    .softSkills {
        display: flex;
        flex-wrap: wrap;
    
        justify-content: space-evenly;
    
        margin-top: 50px;
        margin-bottom: 50px;
        color: white;
    }
    
    
    .softCard, .softCardMoon, .softCardSun {
        background-color: white;
    
        width: 280px;
        height: 200px;
        border-radius: 50px;
        text-align: center;
    
        transition-duration: .5s;
    }
    
    .softCardSun {
        background-color: rgb(15, 15, 16);
    }
    
    .softBack {
        transition-duration: .5s;
    }
    
    .softSkill {
        transform: translate(10px, 10px);
    }

    
    .softText {
        text-align: left;
    
        background-color: black;
        transform: translate(10px, -10px);
        
        padding: 30px;
        border-radius: 50px;

        font-size: small;
    }
    
}
